:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

[data-theme="dark"] {
  --theme-background-color: #000;
  --theme-font-color: #fff;
}

[data-theme="light"] {
  --theme-background-color: #fff;
  --theme-font-color: #000;
}

body {
  margin: 0;
}

main {
  background-color: var(--theme-background-color);
  color: var(--theme-font-color);
}

a {
  color: var(--theme-font-color);
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--theme-font-color);
}

a:active {
  color: blue;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 18px;
  height: 30px;
}

.hook-form{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  gap: 10px;
}