:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --theme-background-color: #000;
  --theme-font-color: #fff;
}

[data-theme="light"] {
  --theme-background-color: #fff;
  --theme-font-color: #000;
}

body {
  margin: 0;
}

main {
  background-color: var(--theme-background-color);
  color: var(--theme-font-color);
}

a {
  color: var(--theme-font-color);
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--theme-font-color);
}

a:active{
  color: blue;
}
